:root{
    --color-primary:#2584ff;
    --color-secondary:#00d9ff;
    --color-accent:#ff3400;
    --color-body:#918ca4;
}

@font-face {
    font-family: primaryFont;
    src: url(../assets/fonts/Montserrat/Montserrat-Black.ttf);
}

h2{
    font-family: primaryFont;
}